-r requirements.txt
black==19.3b0
flake8==3.7.9
flake8-bugbear==19.8.0
flake8-isort==2.7.0
pdbpp==0.10.2
isort[requirements]==4.3.21
pre-commit==1.20.0
pytest==5.2.4
pytest-cov==2.8.1
pytest-flake8==1.0.4
pytest-isort==0.3.1
pytest-profiling==1.7.0
seed-isort-config==1.9.3
coveralls
coverage==4.5.4
deepdiff==4.0.9
ensure==1.0.0
ipdb==0.12.2
ipython==7.9.0
-e .
